@{
    ViewData["Title"] = "Načelnik";
}

    <div class="container">
        <table class="table table-bordered align-middle text-center">
            <thead>
                <tr>
                    <th>Ime/Име</th>
                    <th>Prezime/Презиме</th>
                    <th>Stranka/Странка</th>
                    <th>Slika/Слика</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>ABC / АБЦ</td>
                    <td><img class="img-responsive" width="100%" src="https://previews.123rf.com/images/gstockstudio/gstockstudio1412/gstockstudio141200015/34188742-successful-businessman-portrait-of-confident-young-man-in-formal-wear-looking-at-camera-and-smiling-.jpg"</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>DEF / ДЕФ</td>
                    <td><img class="img-responsive" width="100%" src="https://live.staticflickr.com/5311/14365669046_06540bbbff_b.jpg"</td>
                </tr>
            </tbody>
        </table>
        <a asp-action="Vijeće"><button class="btn btn-primary btn-lg">Vijećnici / Вијећници -></button></a>
    </div>
