@{
    ViewData["Title"] = "Prijava";
}
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-lg-3 col-md-3"></div>
            <div class="text-center col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <h2>Prijava / Пријава</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="ime">Ime / Име</label>
                        <input type="text" class="form-control" id="ime" name="ime" required oninvalid="this.setCustomValidity('Molimo, upišite Vaše ime ovdje / Молимо, упишите Ваше име овдје')" oninput="this.setCustomValidity('')">
                    </div>
                    <div class="form-group">
                        <label for="prezime">Prezime / Презиме</label>
                        <input type="text" class="form-control" id="prezime" name="prezime" required oninvalid="this.setCustomValidity('Molimo, upišite Vaše prezime ovdje / Молимо, упишите Ваше презиме овдје')" oninput="this.setCustomValidity('')">
                    </div>
                    <div class="form-group">
                        <label for="jmbg">JMBG / ЈМБГ</label>
                        <input type="number" class="form-control" id="jmbg" name="jmbg" required oninvalid="this.setCustomValidity('Molimo, upišite Vaš JMBG ovdje / Молимо, упишите Ваш ЈМБГ овдје')" oninput="this.setCustomValidity('')">
                    </div>
                    <a><button class="btn btn-primary btn-lg">Potvrdi / Потврди</button></a>
                </form>
                <a asp-controller="Vote" asp-action="Načelnik"><button class="btn btn-primary btn-lg">Potvrdi / Потврди</button></a>
            </div>
            <div class="col-xs-0 col-sm-0 col-lg-3 col-md-3"></div>
        </div>
    </div>


