@{
    ViewData["Title"] = "Početna/Почетна";
}
    <div class="container">
        <div class="row">
            <p>Početna stranica</p>
            <a asp-controller="Vote" asp-action="SignIn"><button class="button btn btn-primary btn-lg">Glasaj / Гласај</button></a>
        </div>      
    </div>
