@{
    ViewData["Title"] = "Početna/Почетна";
}
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 col-sm-xs-12 text-center">
                <img class="img-responsive" width="88px" height="100px" src="https://www.parlament.ba/Content/img/grb.gif">
                <br />
                <br />
                <h2>LOKALNI IZBORI / ЛОКАЛНИ ИЗБОРИ</h2>
                <br />
                <br />
                <a asp-controller="Vote" asp-action="SignIn"><button class="button btn btn-primary btn-lg">Glasaj / Гласај</button></a>
                <br />
                <br />
                <br />
                <br />
                <br />
                <a href="https://www.izbori.ba/">Centralna Izborna Komisija BiH<br />Središnje Izborno Povjerenstvo BiH<br />Централна Изборна Комисија БиХ</a>
            </div>
            <div class="col-1"></div>
        </div>      
    </div>